<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>TimeUse Dashboard</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'/>
    <link rel="shortcut icon" href="{{ url_for('static',filename='img/favicon.ico')}}"/>
    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/lib/bootstrap.min.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/lib/keen-dashboards.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/lib/dc.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/lib/jquery-ui.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/lib/font-awesome.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/index.css')}}" />

</head>
<body class="keen-dashboard" style="padding-top: 75px;">

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('index') }}">TimeUse Dashboard</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li><a target="_blank" href="https://www.timeuse.org/sites/default/files/9727/mtus-user-guide-r9-february-2016.pdf">MTUS User Guide</a></li>
                <li><a target="_blank" href="https://github.com/Sonnenstrahl/datavis/blob/master/README.md">Documentation</a></li>
                <!---<li><a target="_blank" href="">Import Data</a></li>-->
            </ul>
            <ul class="nav navbar-nav navbar-center">
                  <li><a id="total-records">#</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a><button class="btn btn-sm" id="download">Download CSV<span class="fa fa-download fa-lg"></span></button></a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Time spent on a specific Activity on a specific Day
                </div>
                <div class="chart-stage">
                    <div id="heatmap"></div>
                </div>
                <div class="chart-notes">
                    Hover over an activity to see the average minutes spent on this activity
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Time spent on combined Activities
                </div>
                <div class="chart-stage">
                    <div id="groupedActivities"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Occupation
                </div>
                <div class="chart-stage">
                    <div id="grid-1-1">
                    <div id="occupation-piechart"></div>
                    </div>
                </div>
                <div class="chart-title">
                    Records by Year
                </div>
                <div class="chart-stage">
                    <div id="timeChart"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Days of the Week
                </div>
                <div class="chart-stage">
                    <div id="weekDay"></div>
                </div>
                <div class="chart-title">
                    Family Status
                </div>
                <div class="chart-stage">
                    <div id="famstat"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Age Group
                </div>
                <div class="chart-stage">
                    <div id="ageChart"></div>
                </div>
                <div class="chart-title">
                    Work Hours
                </div>
                <div class="chart-stage">
                    <div id="workhrs"></div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Select by Country
                </div>
                <div class="chart-stage">
                    <div id="chloropleth"></div>
                </div>
                <div class="chart-notes">
                    Hover over a country to see the amount of records
                </div>
            </div>
        </div>
    </div>
        <div class="row">
        <div class="col-sm-12">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Various Filter Options
                </div>
                <div id='filters' class="chart-stage filters">
                    <div id="select-sex"></div>
                    <div id="select-retired"></div>
                    <div id="select-bad-case"></div>
                    <div id="select-student"></div>
                    <div id="select-computer"></div>
                    <div id="select-vehicle"></div>
                    <div id="select-hhtype"></div>
                    <div id="select-hhldsize"></div>
                    <div id="select-nchild"></div>
                    <div id="select-singpar"></div>
                    <div id="select-ownhome"></div>
                    <div id="select-sector"></div>
                </div>
                <div class="chart-stage filters">
                    <div id="select-empstat"></div>
                    <div id="select-edcat"></div>
                    <div id="select-urban"></div>
                    <div id="select-citizen"></div>
                    <div id="select-civstat"></div>
                    <div id="select-cohab"></div>
                    <div id="select-emp"></div>
                    <div id="select-unemp"></div>
                    <div id="select-empsp"></div>
                    <div id="select-rushed"></div>
                    <div id="select-health"></div>
                    <div id="select-carer"></div>
                    <div id="select-disab"></div>
                </div>
                <div class="chart-notes">
                    Use Shift or CMD click to select multiple items in the same filter
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <p class="small text-muted">Built with &#9829; by <a href="https://keen.io">Keen IO</a></p>
</div>
    <!-- JS Dependencies -->
<script src="{{ url_for('static', filename='js/lib/jquery-2.2.4.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/loadingoverlay.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/crossfilter.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/d3.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/dc.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/keen.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/queue.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/FileSaver.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/jquery-ui.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/underscore-min.js') }}"></script>
<script src="{{ url_for('static', filename='js/charts.js') }}"></script>
<script>$.LoadingOverlay('show');</script>
</body>
</html>